@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    padding: 0;
    margin: 0;
}

.header{
    width: 100%;
    border-style: none;
}

.footer{
    width: 100%;
    border-style: none;
    margin-bottom: 0;
}

.main-container{
    background: white;
    margin-left: 70px;
    margin-right: 70px;
    place-content: center;
}

.cards-container{
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 30px;
    place-content: center;
}

.product-card{
    width:240px;
}

.product-card img{
    width:240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.product-info button i{
    font-size: 30px;
    background: rgb(236, 235, 235);
}


.product-info div p:nth-child(1){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
}

.product-info div p:nth-child(2){
    font-weight: bold;
    font-size: var(--md);
    margin-top: 16px;
    margin-bottom: 16px;
}

@media (max-width: 430px){
    .cards-container{
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card{
        width:140px;
    }
    .product-card img{
        width: 140px;
        height: 140px;
    }
}