body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.navbar-brand img{
    width: 100px;
    display: 100px;
}

@media(max-width: 430px){
    .navbar-brand img{
        width: 70px;
        display: 70px;
    }
}