body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


.header{
    position: fixed;
    width: 100%;
    border-style: none;
    position: static;
}

.navbar-brand img{
    width: 100px;
}

.footer{
    position: fixed;
    width: 100%;
    padding: 0;
    border-style: none;
    position: static;
}

.mb-2 svg{
    width: 20px;
    height: 20px;
    fill: currentColor;
    margin-right: 20px;
}


@media(max-width:991px) {
   body{
    padding: 30px;
   }
   form{
    width: 340px;
   }
   header{
    width: 100%;
    padding: 0;
    position: static;
   }
   .container-fluid{
    padding: 30px;
   }
   .navbar-brand img{
    width: 70px;
    display: 70px;
    }
}







